*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.class1{
    padding: 50px;
    margin: auto;
}
a{

    color: azure;
    background-color: blue;
}
.a1{
    color: azure;
    background-color: rgb(97, 97, 101);
}
.parent{
    margin: auto;
    padding: 50px;
    display: flex;
    gap: 10px;
}
.child{
    border-radius: 5%;
    background-color: aliceblue;

}
