*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border: 1px solid black;
    margin: 200px;
    width: 700px;
    height: auto;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}