img{
    display: block;
    margin: auto;
    height: 150px;
}
h1{
    text-align: center;
    color: red;
}
body{
    background-color: beige;
    margin:auto;
    align-content: center;
    
}
div{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}
h4{
    text-align: left;
    color: maroon;
}
hr{
    color: blue;
    width: 75%;
}