*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
nav h3{
    margin-left: 30px;
}
nav ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
nav li{
    color: rgb(66, 235, 218);
}
main{
    height: 350px;
    background-color: rgb(66, 235, 218);
    text-align: center;
}
.img{
    display: flex;
    justify-content: center;
}
main img{
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.parent{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
div img{
    height: 150px;
}
.child{
    padding: 20px;
    display: grid;
    gap: 10px;

}